nav{
    height: 10vh;

}
main{

    height: 70vh;
    background-color: var(--bg-color);
}
footer{

    height: 20vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.navbar{

    background-color:  var(--bg-color);

} 
.logo{
    color: var(--text-color);
    font-weight: bold;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 200px;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: xx-large;
}

.container{
    margin:0;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container > h1 {

    color: var(--text-color);
    display: flex;
    flex:1 1 100;
    align-items: center;
    margin:0;
    font-size: x-large;
}

#inicio-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: solid 2px darkgray;
    border-radius: 20px;
    border-style: groove;
    height: 80%;

}
form input[type="email"],
form input[type="password"]{

  width: 100%;
  padding: .5rem;
  border-radius: 20px;
}
input[type="submit"] {
    padding: .5rem;
    font-size: 1.1rem;
    /* min-width: 10rem; */
    border-radius: 20px;
    border: 2px;
    background: rgba(255, 166, 0, 0.445);
    width: 100%;
    border-style: groove;
}
a{
    text-decoration: none;
    color: black;
}
footer > p{
    display:flex;
    align-items: center;
    padding: 0.75rem;
}
  
@media all and (min-width:740px){

    main{

     background-image:url(../imagenes/adult-casual-couple-1040160.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    }

    #inicio-form{

        background-color: rgb(241,241,241, .75);
    
    
    }
    .container {
        background-color: rgb(241,241,241, .60);
                
    }



    
}


