nav{
    height: 10vh;
    position: fixed;
    width: 100%;
    
}
main{
    background-color: var(--bg-color);
    display:block;
    flex:1 1 100%;
    position: relative;
    width: 100%;
    padding-top: 4rem;
    
}
footer{
    
    background-color: var(--bg-color);
    flex: 1 1 100%;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    display: block;
    bottom: 0;
   
    
}
.footer{

    display: flex;
}

.footer > p{

    padding: 0;

}
.navbar{

    background-color:  var(--bg-color);
    z-index: 10;

}
.navbar-list{

    display: none;
    justify-content:flex-end;
    flex: 1 100%;
    background-color:var(--bg-color);
    width: 150px;
    height: 5vh;
    
    
}
.navbar-item > a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: .75rem;
    display: block;
}
.navbar-item > a:hover {
    color: rgb(77, 53, 9);
    background-color: #222222;
    transition: all 1s ease;
}

.navbar-item > input {
    color: var(--text-color);
    margin-left: .75rem;
    display: block;
    border-radius: 20px;
    background-color: burlywood;
}

.logo{
    color: var(--text-color);
    font-weight: bold;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 200px;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: xx-large;
}

#burger-checkbox {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
#burger-checkbox:checked ~ .navbar-list {
    display: inherit;
} 
.burger-label {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    font-size: 24px;
}

.burger-label:before {
    content: "";
    position: absolute;
    background:darkgray;
    justify-items: center;
    width: 50%;
    height: .15em;
    left: .1em;
    top: .50em;
    box-shadow:
      0 .25em 0 0 darkgray,
      0 .5em 0 0 darkgray,
      0 .75em 0 0 darkgray;
} 

.rejilla{

    display: grid;
    grid-template-columns:1fr;
    width: 100%;
    justify-content: stretch;
    align-content: stretch;
    padding: 1rem;
    grid-gap: 0.75rem;
    grid: 1 1 100%;
    z-index: 1;
    margin:0;
    list-style-type: none;
    
}

.rejilla-serie {

    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    z-index: 2;
    display: flexbox;
    flex:0 1;
    list-style: none;

}
img{

    height:100%;
    width: 100%;
    border-radius: 50px;
    image-rendering: auto;
}
.info-serie{
    display:none;
 /* border:solid 1px red; */
    text-align: justify;
    margin-left: .5rem;
    border: solid 1px darkgray;
    border-radius: 20px;  
} 

.info-serie > h2,
.info-serie > h3,
.info-serie > a {
    text-align: center;
}

#rejilla-serie:hover .info-serie{
    display:block;
    transition: all 5s ease-in;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

footer > p{
    display:flex;
    align-items: center;
    padding: 0.75rem;
}

@media all and (min-width:740px){
  
    main{
        background-color: var(--bg-color);
        display:block;
        flex:1 1 100%;
        width: 100%;
        padding-top: 4rem;
        
    }
    .navbar{
        padding-top: 1rem;
        display: flex;
        justify-items: flex-end;
        height: 12vh;
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        border-bottom: solid 1px darkgray;
        z-index: 10;
    }
    .navbar-list{
        display: flex;
        justify-content:flex-end;
        flex: 1 100%;
        background-color:var(--bg-color);
        list-style-type: none;
        width: 150px;
        height: 5vh;
       
       
    }
    .navbar-item > a:hover {
        color: rgb(77, 53, 9);
        background-color: rgba(255, 166, 0, 0.397);
        border-radius: 10px;
        transition: all 1s ease;
    }
    #burger-checkbox {
        display: none;
      }

    .burger-label{
        display: none;
    }


        
    
    .logo{
        color: var(--text-color);
        display: flex;
        font-size: x-large;
        justify-content: flex-start;
        justify-items: center;
           
    }


}
 
